<nav>
  <div class="nav-center">
    <span><%= Preference.domain %></span>
  </div>
  <ul>
    <li<%= ' class=current' if controller.controller_name == 'root' %>><%= link_to '/home/yii.im', root_path %></li>
    <li<%= ' class=current' if %w[posts histories tags].include? controller.controller_name %>><%= link_to '~/posts', posts_path %></li>
    <li class="pull-right"><%= link_to raw('<i class="icon-rss"></i>') %></li>
    <% if user_signed_in? %>
      <% if @post && @post.persisted? %>
        <li class="pull-right"><%= link_to raw('<i class="icon-bar-chart"></i>'), post_histories_path(@post) %></li>
      <% end %>
      <% if controller.controller_name == 'posts' && %w[edit update].include?(controller.action_name) %>
        <li class="pull-right"><%= link_to raw('<i class="icon-eye-open"></i>'), @post %></li>
      <% elsif controller.controller_name == 'posts' && %w[show].include?(controller.action_name) %>
        <li class="pull-right"><%= link_to raw('<i class="icon-edit"></i>'), edit_post_path(@post) %></li>
        <li class="pull-right"><%= link_to raw('<i class="icon-trash"></i>'), @post, :method => :DELETE, :confirm => t('views.action.confirm') %></li>
      <% else %>
        <li class="pull-right"><%= link_to raw('<i class="icon-plus"></i>'), new_post_path %></li>
      <% end %>
    <% end %>
  </ul>
</nav>
