<section class="user-profile">
  <figure class="user-avatar">
    <%= image_tag("https://secure.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email)}?r=g&s=256", :alt => @user.name, :title => @user.name) %>
    <figcaption class="user-socials">
    <%= link_to raw('<i class="icon-twitter-sign"></i>'), "https://twitter.com/#{Preference.socials.twitter}", :title => 'Twitter' %>
    <%= link_to raw('<i class="icon-google-plus-sign"></i>'), "https://plus.google.com/#{Preference.socials.google_plus}/about", :title => 'Google+' %>
    <%= link_to raw('<i class="icon-facebook-sign"></i>'), "https://facebook.com/#{Preference.socials.facebook}", :title => 'Facebook' %>
    <%= link_to raw('<i class="icon-github-sign"></i>'), "https://github.com/#{Preference.socials.github}", :title => 'GitHub' %>
    </figcaption>
  </figure>
  <h2 class="user-motivation"><%= Preference.html.description %></h2>
</section>
