<%= form_for(@post, :html => { :class => "block-content post-form", :id => "post-form-#{@post.id}", 'data-persisted' => @post.persisted? }) do |f| %>
  <div class="field">
    <%= f.text_field :title, :placeholder => t('mongoid.attributes.post.title') %>
  </div>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.text_field :tags_str, :class => 'tagit' %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn' %>
    <%= link_to raw("<i class='icon-file'></i>"), 'javascript:void(0);', :class => 'pull-right expanding-button', 'data-target' => '.expanding-target' %>
    <%= f.check_box :published, :class => 'pull-right post-published' %>
  </div>
  <div class="attachable">
    <%= hidden_field_tag(:attachable_type, @post.class.name) unless @post.new_record? %>
    <%= hidden_field_tag(:attachable_id, @post.id) unless @post.new_record? %>
    <% @post.assets.each do |asset| %>
      <%= hidden_field_tag 'asset_ids[]', asset.id %>
    <% end %>
  </div>
<% end %>

<div class="expanding-target">
  <%= render 'assets/form' %>
</div>
