<section class="posts-tags clearfix">
  <ul>
    <% @tags.each do |tag| %>
      <li><%= link_to tag.title, tag %></li>
    <% end %>
  </ul>
</section>

<section class="posts-archives">
  <% @posts.group_by { |p| p.created_at.month }.each_value do |posts| %>
    <div class="posts-archive" id="posts-archive-<%= posts.first.created_at.strftime("%Y-%m") %>">
      <time class="posts-archive-month" datetime="<%= posts.first.created_at.utc.iso8601 %>"><%= posts.first.created_at.strftime("%b %Y") %></time>
      <ol class="posts-list">
        <% posts.each do |post| %>
          <li><%= link_to post.title, post %></li>
        <% end %>
      </ol>
    </div>
  <% end %>
</section>
