<!DOCTYPE html>
<html>
  <head>
    <%= render_html_head %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag %>
    <%= auto_discovery_link_tag :atom, feed_url %>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Quantico|Russo+One' rel='stylesheet' type='text/css' />
    <%= stylesheet_link_tag "application", :media => "all" %>
    <script type="text/javascript">document.cookie='resolution='+Math.max(screen.width,screen.height)+'; path=/';document.cookie='ratio='+("devicePixelRatio" in window ? devicePixelRatio : "1")+'; path=/';</script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <%= content_tag :body do %>
    <header>
      <%= render 'shared/nav' %>
    </header>
    <div class="main clearfix">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= render 'shared/ga' %>
  <% end %>
</html>
